{% extends 'main.html' %}


{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>Заголовок теста</div> <input id="test_title_id" type="text" name="test_title">
    <br>
    <div>Картинка теста</div> <input id="test_icon_id" type="file" name="test_picture">
    <br>
    <div>Количество заданий</div> <input id="number_of_tasks_id" type="number" name="number_of_tasks">
    <br>
    <input id="create_test_button_id" type="submit" value="Создать" name="create_test_button">
</form>  
{% endblock %}
