<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TestPostSystem</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
</head>

<body style="font-family: Roboto, sans-serif;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background-color: #dfe8ee;">
        <div class="container"><a class="navbar-brand" href="#">TestSuite</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/posts/">Посты</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/tests/">Тесты</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/">Админ панель</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    {% block content %}
        
    {% endblock %}
    
    <div class="footer-basic" style="margin-top: 30px;background-color: #dfe8ee;">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Contacts</a></li>
                <li class="list-inline-item"></li>
            </ul>
            <p class="copyright">TestSuite © 2021</p>
        </footer>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>