{% extends 'main.html' %}

{% block content %}
    {% if notification %}
        <h3>{{notification}}</h3>
    {% else %}
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <hr>
            {% for user_task in queryset %}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4>Задание: </h4>
                        </div>
                        <div class="col">
                            <div>{{user_task.title}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Формулировка: </h4>
                        </div>
                        <div class="col">
                            <div>{{user_task.task_statement}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Макс балл: </h4>
                        </div>
                        <div class="col">
                            <div>{{user_task.points}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Файл ответа:</h4>
                        </div>
                        <div class="col">
                            <div><a href="{{user_task.user_file.url}}">Файл</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Результат проверки</h4>
                        </div>
                        <div class="col">
                            <input class="form-control" type="number" name="task-{{user_task.id}}">
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
            <input type="submit" value="Сохранить">
        </form>
    {% endif %}
{% endblock %}