{% extends 'main.html' %}


{% block content %}
    {% if notification %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>{{notification}}</h3>
                </div>
            </div>
        </div>
    {% else %}
        <hr>
        {% for user_test in queryset %}
            <div class="container" style="margin-top: 20px;">
                <div class="row" style="justify-content: space-between;">
                    <div class="col" style="flex: 0 1;margin-right: 10px;"><img class="rounded-circle" style="width: 200px; height: 200px;" src="{{ user_test.test_id.picture.url }}"></div>
                    <div class="col" style="flex: 0 1;">
                        <p class="text-center" style="font-size: medium;width: 500px;">{{user_test.test_id.title}}<br><br></p>
                    </div>
                    <div class="col" style="flex: 0 1;">
                        <div class="row">
                            <div class="col" style="display: block;padding-top: 40px;"><a href="/user_unchecked_tests/{{user_test.id}}" class="btn btn-primary" role="button" style="width: 200px;background-color: #208f8f;border-radius: 20px;text-decoration: none;font-size: medium;color: #f2f5f8;">Проверить тест</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}